{% load static %}
<nav class="navbar">
    <div class="container">
        <div class="nav-brand">
            <img src="{% static 'home/images/logo.png' %}" alt="Traffic Eye Logo" class="logo">
            <span class="brand-text">TRAFFIC<br>EYE</span>
        </div>
        
        <ul class="nav-menu">
            <ul class="nav-menu">
              <li><a href="{% url 'home' %}" class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
              <li><a href="{% url 'about' %}" class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}">About Us</a></li>
              <li><a href="{% url 'gallery' %}" class="nav-link {% if request.resolver_match.url_name == 'gallery' %}active{% endif %}">Galeri</a></li>
          </ul>
        </ul>
    </div>
</nav>