{% load static %}

<section id="ourteam" class="team-section">
        <div class="container">
            <h2 class="team-title">OUR TEAM</h2>
            <p class="team-subtitle">Tim Kami yang Berdedikasi Dalam Mengembangkan Sistem Pemantauan Aktivitas Mahasiswa Berbasis AI.</p>

            <div class="team-grid">
                <!-- Member 1 -->
                <div class="team-card">
                    <img src="{% static 'home/images/Gawan.jpeg' %}" alt="Arthur">
                    <h3>Muhammad Arthur P.</h3>
                    <p>Ketua</p>
                </div>

                <!-- Member 2 -->
                <div class="team-card">
                    <img src="{% static 'home/images/rifqy.jpg' %}" alt="Rifqy">
                    <h3>Muhammad Rifqy H.</h3>
                    <p>Front-End Dev</p>
                </div>

                <!-- Member 3 -->
                <div class="team-card">
                    <img src="{% static 'home/images/Gawan.jpeg' %}" alt="Maul">
                    <h3>Maulana Ramadhan</h3>
                    <p>Back-End Dev</p>
                </div>

                <!-- Member 4 -->
                <div class="team-card">
                    <img src="{% static 'home/images/Gawan.jpeg' %}" alt="Dinok">
                    <h3>M. Deza Awdino</h3>
                    <p>UI/UX Designer</p>
                </div>

                <!-- Member 5 -->
                <div class="team-card">
                    <img src="{% static 'home/images/Gawan.jpeg' %}" alt="Theo">
                    <h3>Theo Febrian S.</h3>
                    <p>Data Analyst</p>
                </div>
            </div>
        </div>
    </section>