{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" href="{% static 'home/css/auth.css' %}">
</head>

<body>
    <div class="container">

        <div class="left"></div>

        <div class="right">
            <div class="formbox">
                <h2>REGISTER</h2>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <form method="POST">
                    {% csrf_token %}

                    <label>USERNAME</label>
                    <input type="text" name="username" placeholder="Masukkan Username" required>

                    <label>EMAIL</label>
                    <input type="email" name="email" placeholder="Masukkan Email" required>

                    <label>PASSWORD</label>
                    <input type="password" name="password1" placeholder="Masukkan Password" required>

                    <label>KONFIRMASI PASSWORD</label>
                    <input type="password" name="password2" placeholder="Masukkan Konfirmasi Password" required>

                    <button type="submit">REGISTER</button>
                </form>

                <a class="switchlink" href="{% url 'login' %}">Sudah Mempunyai Akun? Silahkan Login</a>
            </div>
        </div>

    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const container = document.querySelector(".right");
            container.classList.add("page-enter");
            setTimeout(() => container.classList.add("page-enter-active"), 10);
        });

        setTimeout(() => {
            document.querySelectorAll(".alert").forEach(el => el.classList.add("fade-out"));
        }, 3000);
    </script>

</body>
</html>
